@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GitHub + Azure rocks!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Your ASP.NET Core app is up and running! </a>.</p>
</div>
